<p>
  The C.L.E.A.R. Framework is a set of guidelines for crafting effective prompts
  that maximize the potential of interactions with Large Language Models and
  chatbots. It stands for:
</p>
<ul>
  <li><strong>C</strong>larity: Use clear and concise language.</li>
  <li><strong>L</strong>ength: Keep it brief and balance complexity.</li>
  <li>
    <strong>E</strong>xpectations: Set response boundaries and prepare for
    uncertainty
  </li>
  <li>
    <strong>A</strong>ctive Language: Use action-oriented phrases and make it
    open-ended.
  </li>
  <li>
    <strong>R</strong>elevance: Provide context and stay focused on the topic.
  </li>
</ul>
