<!-- Modal with Bulma and Alpine.js -->
<div class="modal" :class="{ 'is-active': showModal }">
  <div class="modal-background" @click="close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Attention</p>
      <button class="delete" @click="close" aria-label="Close"></button>
    </header>
    <section class="modal-card-body">
      Please note that this is a demo project for the Hackathon 21 presentation
      on AI. We are using a FREE hosting provider and running prompts through
      the ChatGPT API (at cost) it so there may be slow performance (and
      possibly downtime) and it may stop working once it reaches the $2 USD
      spending cap we put in place. Please be patient and try again later if you
      experience any issues. Thank you for your understanding :)
    </section>
    <footer class="modal-card-foot">
      <button class="button" @click="close">
        I promise I won't abuse this app
      </button>
    </footer>
  </div>
</div>
